<%- layout('layout/boiler') %>




    <div class="uk-child-width-1-3@m uk-grid-match " uk-grid>
        <% for( let book of books ) { %>


            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top uk-background-cover uk-light" data-src="<%= book.image %>"
                        uk-img="loading: eager" style="height: 10rem; width: 23.3rem;">
                    </div>

                    <div class="uk-card-body">
                        <h3 class="uk-card-title">
                            <%= book.name %>
                        </h3>

                        <p style="font-size: smaller;">
                            <% if(book.description.length> 80) book.description = book.description.slice(0,
                                80)+'....'; %>
                                <%= book.description %>
                                    <a href="/show/<%= book.id %>" style="text-decoration: none;">Read
                                        more</a>
                        </p>
                    </div>
                </div>
            </div>

            <% } %>
    </div>