<% const options={ year: "numeric" , month: "short" , day: "numeric" } %>
    <%- layout('layout/boiler') %>




        <h1>Name: <%= name %>
        </h1>
        <h1>Author: <%= author %>
        </h1>
        <h1>Date: <%= date.toLocaleString('en-US',options) %>
        </h1>
        <h1>Pages: <%= pages.toLocaleString() %>
        </h1>
        <div>




            <form action="/delete/<%=id%>?_method=delete" method="post">
                <button><a href="/" style="text-decoration: none; color: black;">Back</a></button>
                <button type="submit">Delete</button>
            </form>
        </div>